extends ../layout


block content
  header(style=' background-color: #000;')
    nav.navbar.navbar-dark.d-flex.justify-content-end
      .hi(style=' height: 40px')
  main
    .container
      .row.margin-confi
        .col-md-0.offset-md-0
          a(href='/admin')
            button.link-button.btn-warning.px-5 back
      .row.margin-oks
        .col-md-4.offset-md-4
          h1.font-potta-one(style='border-radius: 15px; color: #fff') OKS
      .row.my-2
        .col-md-4.offset-md-4
          h2.font-lato(style='border-radius: 15px; color: #fff')  Song register
      .row
        .col-md-4.offset-md-3
          .table-responsive-md
            table.table.table-striped.table-dark
              thead
                tr
                  th(scope='col') id
                  th(scope='col') name
                  th(scope='col') URL
                  th(scope='col') 
                  th(scope='col') 
                  th(scope='col') 
              tbody
                each cancion in canciones
                    tr
                      td(scope='row')= cancion._id
                      td= cancion.title 
                      td= cancion.imagePath
                      td
                        a(href='/admin/'+cancion.id+'/update_song')
                          button.link-button.btn-secondary  Editar
                      td
                        form.inline(method='post' action='/admin/'+cancion.id+'/delete_song')
                            input(type='hidden' name='id' value=cancion.id)
                            button.link-button.btn-danger(type='submit')='Eliminar'
                      td
                        a(href='/admin/'+cancion._id+'/play')
                          button.link-button.btn-success  Reproducir
  // comienzo del footer
  footer.p-2(style='background-color: #000;')
    .container
      p.copyright(tabindex='0 ') OtakuSongs
      p.copyright(tabindex='0 ') Todos los Derechos Reservados 2021 &copy;